{% extends "quick_search_base.html" %}

{% load static i18n %}
{% load bootstrap3 %}

{% block navbar %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a id="link-quick-search-educationgroup" class="trigger_modal" data-url="{% url "quick_search_education_group" root_id node_path%}?path={{ current_path }}">{% trans 'Trainings' %}</a>
        </li>
        <li role="presentation" class="active">
            <a id="link-quick-search-learningunit" href=#">{% trans 'Learning units' %}</a>
        </li>
    </ul>
{% endblock navbar %}

{% block form_field %}
    {% bootstrap_field form.academic_year form_group_class="col-md-2" %}
    {% bootstrap_field form.acronym form_group_class="col-md-2" %}
    {% bootstrap_field form.title form_group_class="col-md-6" %}
{% endblock form_field %}

{% block count_message %}
    <strong style="margin-left:10px;color:grey;">
        {% blocktrans with start_index=page_obj.start_index end_index=page_obj.end_index total_counts=paginator.count %}{{ start_index }} to {{ end_index }} of {{ total_counts }} learning units{% endblocktrans %}
    </strong>
{% endblock count_message %}

{% block table_header %}
    <th id="th_0_temp"></th>
    <th id="th_1_academic_year">{% trans 'Ac yr.' %}</th>
    <th id="th_2_acronym">{% trans 'Code' %}</th>
    <th id="th_3_title">{% trans 'Title' %}</th>
{% endblock table_header %}

{% block script %}
    <script>
        columnDefs = [
            {
                "name": "temp",
                "targets": 0,
                "data": "acronym",
                "orderable": false,
                "render": function(data, type, row, meta) {
                    let input = document.createElement("input");
                    input.type = 'checkbox';
                    input.name = 'selected-item';
                    input.value = data;
                    // FIXME Use uuid in the future when implemented in place of data-url
                    input.setAttribute('data-url', row['osis_url']);
                    input.setAttribute('data-name', `${row['academic_year']} - ${row['acronym']}`);
                    return input.outerHTML;
                }
            },
            {
                "name": "academic_year",
                "targets": 1,
                "data": "academic_year",
                "render": function(data, type, row, meta){
                    let year = data;
                    let nextYear = data + 1;
                    return `${year}-${nextYear.toString().slice(2)}`;
                }
            },
            {
                "name": "acronym",
                "targets": 2,
                "data": "acronym",
                "render": function ( data, type, row, meta ) {
                    return '<a href="'+ row['osis_url'] +'">'+ data + '</a>';
                }
            },
            { "name": "title", "targets": 3, "data": "title"},
        ];
    </script>
    {{ block.super }}
{% endblock script %}
