{% extends "quick_search_base.html" %}

{% load static i18n %}
{% load bootstrap3 %}

{% block navbar %}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="link-quick-search-educationgroup" href="#">{% trans 'Trainings' %}</a></li>
        {% if display_quick_search_luy_link %}
        <li role="presentation">
            <a id="link-quick-search-learningunit" href="#" class="trigger_modal" data-url="{% url "quick_search_learning_unit" root_id node_path %}">{% trans 'Learning units' %}</a>
        </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block form_field %}
    {% bootstrap_field form.academic_year form_group_class="hidden" %}
    {% bootstrap_field form.acronym form_group_class="col-md-3" %}
    {% bootstrap_field form.partial_acronym form_group_class="col-md-3" %}
    {% bootstrap_field form.title form_group_class="col-md-4" %}
{% endblock form_field %}

{% block count_message %}
    <strong style="margin-left:10px; color:grey;">
        {% blocktrans with start_index=page_obj.start_index end_index=page_obj.end_index total_counts=paginator.count %}{{ start_index }} to {{ end_index }} of {{ total_counts }} offers{% endblocktrans %}
    </strong>
{% endblock count_message %}

{% block table_header %}
    <th id="th_0_temp"></th>
    <th id="th_1_academic_year">{% trans 'Ac yr.' %}</th>
    <th id="th_2_acronym">{% trans 'Acronym/Short title' %}</th>
    <th id="th_3_partial_acronym">{% trans 'Code' %}</th>
    <th id="th_4_title">{% trans 'Title' %}</th>
{% endblock table_header %}

{% block script %}
    <script>
        columnDefs = [
            {
                "name": "temp",
                "targets": 0,
                "data": "acronym",
                "orderable": false,
                "render": function(data, type, row, meta) {
                    let input = document.createElement("input");
                    input.type = 'checkbox';
                    input.name = 'selected-item';
                    input.value = data;
                    // FIXME Use uuid in the future when implemented in place of data-url
                    input.setAttribute('data-url', row['url']);
                    input.setAttribute('data-name', `${row['academic_year']} - ${row['acronym']}`);
                    return input.outerHTML;
                }
            },
            {
                "name": "academic_year",
                "targets": 1,
                "data": "academic_year",
            },
            {
                "name": "acronym",
                "targets": 2,
                "data": "acronym",
                "render": function ( data, type, row, meta ) {
                    return '<a href="'+ row['url'] +'">'+ data + '</a>';
                }
            },
            { "name": "code", "targets": 3, "data": "code"},
            { "name": "title", "targets": 4, "data": "title"}
        ];
    </script>
    {{ block.super }}
{% endblock script %}