{% load static i18n bootstrap3 %}

<form method="post" id="LearningUnitYearForm" data-validate-url="{% url 'check_acronym' subtype="EXTERNAL" %}">
    {% csrf_token %}
    <div class="panel panel-default">
        {% csrf_token %}
        {% bootstrap_form_errors learning_unit_year_form %}
        {% bootstrap_form_errors learning_unit_form %}
        {% bootstrap_form_errors learning_container_year_form %}
        {% if form_proposal %}{% bootstrap_form_errors form_proposal %}{% endif %}
        <div class="row">
            <div class="col-md-8">
                {% block learning_unit_identification %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% include "learning_unit/blocks/learning_unit_identification.html" %}
                            <br>
                            {% block titles %}
                                {% include "learning_unit/blocks/titles.html" %}
                            {% endblock titles %}
                        </div>
                    </div>
                {% endblock learning_unit_identification %}

                {% include "learning_unit/blocks/components.html" %}

                {% if not learning_unit_external_form %}
                    {% block remarks %}
                        {% include "learning_unit/blocks/remarks.html" %}
                    {% endblock remarks %}
                {% endif %}

                {% block components %}
                    {% if components %}
                        {% include "learning_unit/components_identification.html" %}
                    {% endif %}
                {% endblock components %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            {% bootstrap_field learning_container_year_form.team form_group_class="col-md-12" %}
                        </div>
                    </div>
                </div>

                {% if learning_unit_external_form %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                {% bootstrap_field learning_unit_external_form.external_acronym form_group_class="form-group col-md-3" %}
                                {% bootstrap_field learning_unit_external_form.url form_group_class="form-group col-md-6" %}
                                <div class="col-md-3">
                                    {% bootstrap_label learning_unit_external_form.external_credits.label label_class="control-label" %}
                                    <abbr title="{% trans 'If the partner university does not use ECTS credit units, enter below the number of credit units according to the local system.' %}">
                                    <span class="glyphicon glyphicon-question-sign "
                                          title="{% trans 'If the partner university does not use ECTS credit units, enter below the number of credit units according to the local system.' %}"
                                          style="font-size: 12pt;"></span></abbr>
                                    {% bootstrap_field learning_unit_external_form.external_credits show_label=False %}
                                </div>
                            </div>
                            {% bootstrap_field learning_unit_form.faculty_remark %}
                            {% bootstrap_field learning_unit_form.other_remark %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% block institution %}
                    {% include "learning_unit/blocks/institution.html" %}
                {% endblock %}

                {% block proposal_management %}
                {% endblock proposal_management %}
            </div>
        </div>
        {% block modal %}
        {% endblock modal %}
    </div>
</form>

