{% extends "blocks/forms/search_form.html" %}
{% load bootstrap3 i18n %}

{% block search_form_row_1 %}
    {% bootstrap_field form.academic_year form_group_class="col-md-2" %}
    <div class="col-md-2">
        {% bootstrap_label form.acronym.label %}
        {% bootstrap_field form.acronym show_label=False %}
    </div>
    <div class="col-md-4">
        {% bootstrap_label form.title.label %}
        {% bootstrap_field form.title show_label=False %}
    </div>
    {% bootstrap_field form.container_type form_group_class="col-md-2" %}
    {% bootstrap_field form.subtype form_group_class="col-md-2" %}
{% endblock %}

{% block search_form_row_2 %}
    {% bootstrap_field form.status form_group_class="col-md-2" %}
    {% bootstrap_field form.quadrimester form_group_class="col-md-2" %}
    <div class="col-md-2">
        {% bootstrap_label form.tutor.label %}
        {% bootstrap_field form.tutor show_label=False  %}
    </div>
    {% bootstrap_field form.requirement_entity form_group_class="col-md-2" %}
    {% bootstrap_field form.allocation_entity form_group_class="col-md-2" %}
    {% bootstrap_field form.with_entity_subordinated form_group_class="col-md-2" %}
{% endblock %}

{% block search_form_buttons %}
    <br>
    <div class="col-md-1">
        <div class="btn-toolbar pull-right">
            {% bootstrap_button "" value=_('Learning unit search') button_type="submit" button_class="btn-primary" icon="search" %}
            {% include 'blocks/button/button_filter_refresh.html' %}
        </div>
    </div>
{% endblock %}

{% block extras %}
    <input type="hidden" id="xls_status" name="xls_status">
{% endblock %}
