{% load i18n bootstrap3 %}

<form method="post" action="{{ request.path }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4>{% trans "Modify order achievement" %}</h4>
    </div>

    <div class="modal-body">
        {% trans "Are you sure ?" %}
        {% csrf_token %}
        {% bootstrap_field form.action %}
        <input hidden value="{{ path }}" id="path" name="path"/>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="submit" class="btn btn-primary" onclick="CKupdate()">{% trans "Save" %}</button>
        {% if can_postpone %}
            <button type="button" class="btn btn-primary" onclick="CKupdate(); submitFormWithPostponement(this)"
                    title="{% trans "Save and postpone changes on next years" %}">
                {% trans "Save and postpone" %}*
            </button>
            <p class="text-right"><small><strong>*{% trans "Postpone will be apply on all achievement block !" %}</strong></small></p>
        {% endif %}
    </div>
</form>
