{% extends "education_group_app/blocks/layout.html" %}
{% load i18n %}

{% block breadcrumb %}
    {{ block.super }}
    {% if parent_group %}
        <li class="active">
            <a href="{{ cancel_url }}">{{ parent_group.code }}</a>
        </li>
    {% endif %}
    <li class="active">
        {% trans 'New Education Group' %}
    </li>
{% endblock breadcrumb %}

{% block header_content %}
    <div class="page-header">
        <h2>{% trans 'New Education Group' %}</h2>
    </div>
{% endblock header_content %}

{% block content %}
    {% include "education_group_app/group/upsert/layout_group_form.html" %}
{% endblock content %}