{% load bootstrap3 %}
{% load i18n %}
<div class="row">
    <div class="col-md-4 col-md-offset-8">
         <a href="{% url 'learning_unit' learning_unit_year.id %}" class="btn btn-default pull-right margin-left-10" role="button">
            {% trans 'Cancel' %}
        </a>

        <button onclick="submit()" id="btn-confirm" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> {% trans 'Save' %}
        </button>
    </div>
</div>

<script>
function submit(){
    $('form').submit()
}
</script>
