{% load i18n dictionnary %}

{% if learning_unit_years_with_errors %}
    <table id="table_learning_units" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans 'Ac yr.' %}</th>
                <th>{% trans 'Courses' %}</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Requirement entity' %}</th>
                <th>{% trans 'Description fiche edition' %}</th>
                <th>{% trans 'Force majeure case edition' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for luy, error, error_force_majeure in learning_unit_years_with_errors %}
                {% with requirement_entity=luy.requirement_entity %}
                <tr data-id="{{luy.id}}" data-value="{{luy.acronym}}">
                    <td>{{ luy.academic_year }}</td>
                    <td>
                        <a href="{% url "view_educational_information" learning_unit_year_id=luy.id %}" title="{% trans 'Manage description fiche' %}">
                            {{ luy.acronym }}
                        </a>
                    </td>
                    <td>{{ luy.complete_title|default_if_none:'' }}</td>
                    <td>{{ requirement_entity|default_if_none:'-' }}</td>

                    {% trans 'Editable' as title_status_true %}
                    {% if requirement_entity %}
                        {% with entity_calendar=entity_calendars|get_item:requirement_entity.id %}
                            <td {% if event_perm_desc_fiche_open %}style="color: green" {% else %}style="color: red"{% endif %}>
                                {% trans 'From' context "Du" %} {% if entity_calendar %} {{ entity_calendar|get_item:'start_date'|date:"d/m/Y" }} {% endif %}
                                {% trans 'to' context "au" %} {% if entity_calendar %} {{ entity_calendar|get_item:'end_date'|date:"d/m/Y" }} {% endif %}
                                {% if error.errors|length > 1 %}
                                    {% include "blocks/span/span_status.html" with status=error.is_valid title_status_false=error.as_ul %}
                                {% else %}
                                    {% include "blocks/span/span_status.html" with status=error.is_valid title_status_false=error.errors.0 %}
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% else %}
                        <td>-</td>
                    {% endif %}

                    <td {% if event_perm_force_majeure_open %}style="color: green"{% else %}style="color: red"{% endif %}>
                        {% trans 'From' context "Du" %} {{ event_perm_force_majeure_start_date|date:"d/m/Y" }}
                        {% trans 'to' context "au" %} {{ event_perm_force_majeure_end_date|date:"d/m/Y" }}
                        {% if error_force_majeure.errors|length > 1 %}
                            {% include "blocks/span/span_status.html" with status=error_force_majeure.is_valid title_status_false=error_force_majeure.as_ul %}
                        {% else %}
                            {% include "blocks/span/span_status.html" with status=error_force_majeure.is_valid title_status_false=error_force_majeure.errors.0 %}
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div id="no_attribution_warning_message" class="alert alert-warning" role="alert">
        {% trans 'There is no course for which you can edit description fiche' %}
    </div>
{% endif %}
