body {
    padding-top: 70px;
}

#table_learning_units a:visited {
    color: purple;
}

.info {
    color: blue;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

.btn.btn-as-block {
    display: block;
}

.invisible {
    visibility: hidden;
}

/* Hides the spinner of number fields. */
input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

/**
 * Progress bars with centered text
 */

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

#pnl_add_manager_modal .modal-dialog {
    width: 90%;
}

div[class^="django-ckeditor-widget"],
div[class^="django-ckeditor-widget"] > textarea,
div[class^="django-ckeditor-widget"] > div {
    width: 100% !important;
}

tbody.used_component {
    background-color: #ececec;
}

tbody.used_component tr.class_year {
    background-color: #ecfcfc;
}

tbody.unused_component {
    background-color: #f3f3f3;
    color: #909090;
}

tbody.unused_component tr.class_year {
    background-color: #f3fcfc;
}

tr.class_year {
    font-size: 80%;
}

tr.class_year_head {
    font-weight: bold;
}

table.volumes tbody tr th {
    text-align: center;
}

table.volumes tbody tr td {
    text-align: center;
}

table.volumes_read tbody tr td, th {
    text-align: left;
}

table.volumes tbody tr td input {
    text-align: center;
}

table.volumes tbody {
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}

table.volumes_simplified tbody tr th:nth-child(1),
table.volumes tbody tr td:nth-child(1),
table.volumes tbody tr td:nth-child(10),
table.volumes tbody tr th:nth-child(1),
table.volumes tbody tr th:nth-child(10) {
    background-color: #f3f3f3;
}

table.volumes thead {
    border: 2px solid #ddd;
}

.badge.fixed_width {
    width: 60px;
}

.badge.success-color {
    background-color: #5cb85c;
}

.badge.warning-color {
    background-color: #f0ad4e;
}

.badge.danger-color {
    background-color: #d9534f;
}

.notification:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
    top: -3px;
    right: -2px;
    border-radius: 50%;
}

.no_label {
    font-weight: normal;
}

/* Override style for trash in ajax-multi-select*/
input[type="text"].ui-autocomplete-input:disabled ~ .results_on_deck .ui-icon {
    display: none !important;
}

.results_on_deck .ui-icon.ui-icon-trash {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-indent: 0;
    float: none;
    font-size: 16px;
    background-image: none;
    width: 14px;
    color: transparent;
}

.results_on_deck .ui-icon.ui-icon-trash:before {
    color: black;
    content: "\f00d";
}

.table_header {
    background-color: lightgray;
}

.p0-50 {
    padding: 0 50px;
}

.education_group_year-common {
    color: darkgray;
}

.italic {
    font-style: italic;
}

/* Ensure that jstree contextmenu is always on top */
.vakata-context {
    z-index: 100;
}

.navbar-fixed-bottom {
    z-index: 10;
}

/* Style for jstree */
.proposal>i::after {
    position:relative;
    bottom:-6px;
    left:-5px;
    font-style: normal;
    font-size: 10px;
    color: black;
    font-weight: normal;
    border-radius: 50%;
    padding: 2px;
}
.proposal_creation>i::after {
    content: 'C';
    background: #ff7979;
}

.proposal_modification>i::after {
    content: 'M';
    background: #7ed6df;
}

.proposal_transformation>i::after {
    content: 'T';
    background: #7ed6df;
}

.proposal_suppression>i::after {
    content: 'S';
    background: #ff7979;
}

.proposal_transformation_modification>i::after {
    content: 'MT';
    background: #7ed6df;
}


/* Styles for dhtmlxGantt (calendar) */
.projectRow {
    background-color: lightgray !important
}

.releaseCol {
    background-color: teal !important
}

.releaseCol a {
    color: white;
}

/*  Sidenav styles */
.side-container {
    height: calc(100% - 50px);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    vertical-align: central;
}

.sidenav {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-top-width: thin;
    overflow-y: auto;
    overflow-x: auto;
    padding-bottom: 50px;
}


#split-bar {
    height: 100%;
    border-left-color: lightgrey;
    border-left-style: solid;
    border-left-width: 1px;
    width: 7px;
    cursor: col-resize;
}

/* limit the max width of the username is the navbar.*/
#bt_user {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.trigger_modal{
    cursor: pointer;
    text-decoration: none;
}