{% extends "education_group/layout_detail.html" %}
{% load static getattr education_group format i18n %}

{% block breadcrumb %}
    <li><a href="{% url 'catalog' %}" id="lnk_catalog">{% trans 'Formation catalogue' %}</a></li>
    <li><a href="{% url 'education_groups' %}" id="lnk_formations">{% trans 'Trainings' %}</a></li>
    <li class="active">
        {{ learning_unit_year.acronym }}
    </li>
{% endblock %}


{% block header_content %}
    <div class="page-header">
        <h2>
            {{ learning_unit_year.acronym }} - {{ learning_unit_year.complete_title }}
            <small style="color:black;font-family:Verdana;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ learning_unit_year.academic_year }}</small>
        </h2>
    </div>
{% endblock %}

{% block tabs %}
    {% include "learning_unit/tabs.html" %}
{% endblock %}
