{% load i18n static perms %}
{% load waffle_tags %}

<nav class="navbar navbar-default navbar-fixed-top  justify-content-start flex-nowrap">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}" id="lnk_home">
                <img src="{% static 'img/logo_osis.png' %}" alt="OSIS" style="margin-top: -10px; margin-left: -10px">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% if perms.base.can_access_catalog %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"
                               id="lnk_home_dropdown_catalog">
                                <span class="hidden-md fa fa-graduation-cap" aria-hidden="true"></span>
                                <span class="hidden-sm hidden-md">{% trans 'Formation catalogue' %}</span>
                                <span class="visible-md-inline">{% trans 'Catalogue' %}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.base.can_access_education_group %}
                                    <li>
                                        {% flag "version_program" %}
                                            {% url 'version_program' as url_training %}
                                        {% else %}
                                            {% url 'education_groups' as url_training %}
                                        {% endflag %}
                                        <a href="{{url_training}}" id="lnk_dropdown_educationgroups">
                                            <span class="fa fa-folder-open"></span>
                                            {% trans 'Trainings' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if perms.base.can_access_learningunit %}
                                    <li>
                                        <a href="{% url 'learning_units' %}" id="lnk_dropdown_learning_units">
                                            <span class="fa fa-file"></span>
                                            {% trans 'Learning units' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.base.can_access_student_path %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" id="lnk_home_dropdown_parcours">
                                <span class="hidden-md fa fa-users" aria-hidden="true"></span>
                                <span class="hidden-sm">{% trans 'Student path' %}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.base.can_access_offer %}
                                    <li>
                                        <a href="{% url 'offers' %}" id="lnk_dropdown_offers">
                                            <span class="fa fa-map-marker-alt"></span>
                                            {% trans 'Addresses' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if virtual_desktop_url %}
                                    <li>
                                        <a href="{{ virtual_desktop_url }}" id="lnk_dropdown_virtual_desktop">
                                            <span class="fas fa-desktop"></span>
                                            {% trans 'Virtual Desktop' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if 'assessments' in installed_apps and perms.base.can_access_evaluation %}
                                    <li>
                                        <a href="{% url 'assessments' %}" id="lnk_dropdown_evaluations">
                                            <span class="fa fa-tachometer-alt"></span>
                                            {% trans 'Evaluations' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if perms.base.can_access_student %}
                                    <li><a href="{% url 'students' %}"
                                           id="lnk_dropdown_students">{% trans 'Students' %}</a></li>
                                {% endif %}
                                {% if 'internship' in installed_apps and perms.internship.can_access_internship %}
                                    <li>
                                        <a href="{% url 'internship' %}" id="lnk_dropdown_internships">
                                            <span class="fa fa-user-md"></span>
                                            {% trans 'Internships' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.base.is_institution_administrator %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false" id="lnk_home_dropdown_institution">
                                <span class="hidden-md fa fa-university"></span>
                                <span class="hidden-sm">{% trans 'Institution' %}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.base.can_access_structure %}
                                    <li>
                                        <a href="{% url 'entities' %}" id="lnk_dropdown_entities">
                                            <span class="fa fa-sitemap"></span>
                                            {% trans 'Entities' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% view_academicactors as can_view_academicactors %}
                                {% if can_view_academicactors %}
                                    <li>
                                        <a href="{% url 'academic_actors' %}" id="lnk_dropdown_academic actors">
                                            <span class="fa fa-users"></span>
                                            {% trans 'Academic actors' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if perms.base.can_access_academicyear and perms.base.can_access_academic_calendar %}
                                    <li>
                                        <a href="{% url 'academic_calendars' %}" id="lnk_academic_calendars">
                                            <span class="fa fa-calendar"></span>
                                            {% trans 'Academic calendar' %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if perms.base.can_read_persons_roles %}
                                    <li>
                                        <a href="{% url 'academic_actors_list' %}" id="lnk_academic_actors_list">
                                            <span class="fa fa-id-card"></span>
                                            {% trans 'List of users' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if "partnership" in installed_apps and perms.partnership.can_access_partnerships %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"
                               id="lnk_home_dropdown_partnerships">
                                <span class="hidden-md fa fa-handshake" aria-hidden="true"></span>
                                <span class="hidden-sm">{% trans 'Partnerships' %}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.partnership.change_uclmanagemententity %}
                                    <li><a href="{% url 'partnerships:ucl_management_entities:list' %}"
                                           id="lnk_dropdown_uclmanagemententities">{% trans 'Management entity' %}</a>
                                    </li>
                                {% endif %}
                                <li><a href="{% url 'partnerships:partners:list' %}"
                                       id="lnk_dropdown_partners">{% trans 'Partners' %}</a></li>
                                <li><a href="{% url 'partnerships:list' %}"
                                       id="lnk_dropdown_partnerships">{% trans 'partnerships' %}</a></li>
                                {% if perms.partnership.can_access_partnerships_agreements %}
                                    <li><a href="{% url 'partnerships:list' %}?agreements=1"
                                           id="lnk_dropdown_agreements">{% trans 'agreements' %}</a></li>
                                {% endif %}
                                {% if perms.partnership.change_partnershipconfiguration %}
                                    <li><a href="{% url 'partnerships:configuration_update' %}"
                                           id="lnk_dropdown_partnerships_general_conf">{% trans 'General configuration' %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.partnership.change_financing %}
                                    <li>
                                        <a href="{% url 'partnerships:financings:list' %}"
                                           id="lnk_dropdown_partnerships_financing_conf">
                                            {% trans 'partnerships_financing_configuration' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right" id="">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           id="lnk_my_dropdow_language">{{ LANGUAGE_CODE }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for lang in LANGUAGES %}
                                {% if lang.0 != LANGUAGE_CODE %}
                                    <li><a href="{% url 'lang_edit' lang.0 %}">{{ lang.0 }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" id="bt_user">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span class="visible-xs-inline">{{ request.user.first_name }}</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><span class="hidden-xs">{{ request.user.first_name }}</span></a>
                            </li>
                            <li>
                                <a href="{% url 'my_osis' %}" id="lnk_my_osis">
                                    <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
                                    {% trans 'My OSIS' %}
                                </a>
                            </li>
                            {% if perms.base.is_administrator %}
                                <li>
                                    <a href="{% url 'data' %}" role="button" id="bt_administration">
                                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                                        {% trans 'Administration' %}
                                    </a>
                                </li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}?next=/" id="lnk_logout">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                    {% trans 'Logout' %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% flag "notifications_bell" %}
                    <li>
                        {% include "blocks/notifications.html" %}
                    </li>
                    {% endflag %}
                    <li>
                        <a href="{{ user_manual.global }}" role="button" id="bt_help" title="{% trans 'Help' %}">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            <span class="visible-xs-inline">{% trans 'Help' %}</span>
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" id="lnk_login">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            {% trans 'Login' %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
