{% extends "education_group/layout.html" %}
{% load education_group format i18n static %}

{% block title %}
    <title>OSIS - {{ education_group_year.acronym }} {{ learning_unit_year.acronym }}</title>
{% endblock %}
{% block breadcrumb %}
    {{ block.super }}
    <li class="active">
        {% if education_group_year.education_group_type.category == "TRAINING" %}
            {{ education_group_year.acronym }}
        {% else %}
            {{ education_group_year.partial_acronym }}
        {% endif %}
    </li>
{% endblock %}

{% block header_content %}
    <div class="page-header">
    {% with disabled_nav=False %}
        {% include "education_group/blocks/header.html" %}
    {% endwith %}
    </div>
{% endblock %}

{% block sidebar %}

    <div class="side-container" id="mySidenav">
        <div class="sidenav panel" id="scrollableDiv">
            <div class="panel-heading ">
                <input class="form-control" id="search_jstree" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="panel-body">
                <div class="row" id="panel_file_tree" data-rootId= "{{ root.id }}" data-copyUrl="{% url "copy_element" %}" data-cutUrl="{% url "cut_element" %}"></div>
            </div>
        </div>
        <div id="split-bar"></div>

    </div>
{% endblock %}


{% block content %}

    <div class="panel panel-default" id="panel-data">
        <div class="panel-heading">
            <div class="row">
                <a id="btn-toggle-tree" class="btn btn-default" style="margin-left: 15px;" onclick="toggleNav()">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </a>

                {% if root == education_group_year %}
                    <label>
                        <select class="form-control"
                                name="academic_year"
                                id="id_academic_year_search"
                                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            {% for edy in education_group_year.education_group.educationgroupyear_set.all %}
                                <option value="{% url "education_group_read" edy.pk edy.pk %}"
                                        {% if edy == education_group_year %} selected="selected" {% endif %}>
                                    {{ edy.academic_year }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                {% endif %}
                <div class="pull-right" style="margin-right: 15px;">
                    {% block top_action_bar %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="panel-body" id="tabs">
            <div class="tab-content" id="tab_content">
                <div role="tabpanel" class="tab-pane active" id="identification">
                    <div class="row" style="display:flex;">
                        <div class="col-md-12" style="height: 100%;">
                            {% block tabs %}
                                {% include "education_group/tabs.html" %}
                            {% endblock %}
                            <br>
                            {% block details %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            {% block bottom_action_bar %}
            {% endblock %}
        </div>
    </div>
    <div id="clipboard" class="alert alert-info " role="alert" {% if not selected_element_clipboard %}hidden="hidden"{% endif %}>
        <div style="display: inline-block;">
            <div class="pull-right">
                <button type="button" class="close clear-clipboard" data-url="{% url "education_group_clear_clipboard" %}"  id="clear_clipboard" data-toggle="tooltip" data-placement="right" title="{% trans "Clear clipboard" %}">
                    <span aria-hidden="true" style="font-size: 0.8em;">&nbsp;<em class="fa fa-trash"></em></span>
                </button>
            </div>
            <div id="clipboard_content" class="pull-left">
                {{ selected_element_clipboard | safe }}
            </div>
        </div>
    </div>
    {% if education_group_year %}
        {% include "education_group/blocks/modal/custom_xls.html" %}
    {% endif %}
    <script>
        const tree = JSON.parse('{{ tree | escapejs }}');
    </script>
    <script type="text/javascript" src="{% static 'js/program_management/education_group_tree.js' %}">
    </script>

{% endblock content %}
