{% load bootstrap3 i18n %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">{% trans "Search" %}</h4>
</div>
<div class="modal-body">
    <div id="message_info_modal" class="alert alert-info" role="alert" style="visibility: hidden; display: none;"></div>
    <form method="get" id="form-modal" action="{{ request.path }}" class="stay_in_modal">
        <input type="hidden" name="page" value="{{ page_obj.number }}">
        <div class="row">
            <div class="col-md-2">
                {% bootstrap_field form.academic_year show_label=False %}
            </div>
            <div class="col-md-7">
                {% bootstrap_field form.search_text show_label=False %}
            </div>
            <div class="col-md-1 col-md-offset-2">
                <button type="button" onclick="$('#form-modal').submit();" class="btn btn-primary"
                        name="search" title="search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

    </form>
    <ul class="nav nav-tabs" role="tablist">
        {% url 'quick_search_learning_unit' as quick_search_lu %}
        <li {% if request.path == quick_search_lu %} class="active" {% endif %}>
            <a href="#" onclick="submit_with_url('{{ quick_search_lu }}')" role="tab">
                {% trans 'Learning units' %}
            </a>
        </li>
        {% url 'quick_search_education_group' as quick_search_eg %}
        <li {% if request.path == quick_search_eg %} class="active" {% endif %}>
            <a href="#" onclick="submit_with_url('{{ quick_search_eg }}')" role="tab">
                {% trans 'Trainings' %}
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-responsive">
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>
                            {% if request.path == quick_search_eg %}
                                <button onclick="select('{% url "education_group_select" object.pk object.pk %}',{'element_id': {{ object.pk }}})">
                                    <i class="fas fa-file-import"></i>
                                </button>
                            {% else %}
                                <button onclick="select('{% url "learning_unit_select" object.pk %}')">
                                    <i class="fas fa-file-import"></i>
                                </button>
                            {% endif %}

                        </td>
                        <td><a href="{{ object.get_absolute_url }}">{{ object.acronym }}</a></td>
                        <td>{{ object.complete_title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="#" onclick="submit_with_page('{{ page_obj.previous_page_number }}')">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}

                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="#" onclick="submit_with_page('{{ i }}')">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="#" onclick="submit_with_page('{{ page_obj.next_page_number }}')">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function submit_with_page(page) {
        $("input[name='page']").val(page);
        $('#form-modal').submit();
    }

    function submit_with_url(url) {
        let form = $('#form-modal');
        form.attr('action', url);
        form.submit();
    }

    function select(url_select, data) {
        $.ajax({
            url: url_select,
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (jsonResponse) {
                displayInfoMessage(jsonResponse, 'clipboard');
            }
        });
    }
</script>
