{% load i18n format %}


<form action="{{ obj.url_action }}" method="post">
    {% csrf_token %}
    <div class="btn-group pull-right {{ additional_class }}" role="group" aria-label="actions">

        <a title="{% trans 'Update' %}" class="trigger_modal"
           data-url="{{ obj.url_update }}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>

        <button class="btn-as-atag" type="submit" {% if forloop.counter0 == 0 %}disabled{% endif %}
                title="{% trans 'Up' %}" name="action" value="up" >
            <i class="fa fa-arrow-up"></i>
        </button>

        <button class="btn-as-atag" type="submit" {% if forloop.last %}disabled{% endif %}
                title="{% trans 'Down' %}" name="action" value="down" >
            <i class="fa fa-arrow-down"></i>
        </button>

        <a title="{% trans 'delete' %}" class="trigger_modal" data-url="{{ obj.url_delete }}" >
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</form>
